<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @chaptertitle.content %>
</p>

<%= link_to 'Edit', edit_chaptertitle_path(@chaptertitle) %> |
<%= link_to 'Back', chaptertitles_path %>
